div.card {
  width: 250px;
  /* height: 250px; */
  background-color: yellow;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 1fr min-content;
  padding: 0.5rem;
}

img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
}

h2::first-letter {
  text-transform: uppercase;
}
