div.card {
  width: 300px;
  background-color: var(--main-yellow-color);
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 1fr min-content;
  padding: 0.5rem;
  cursor: pointer;
}

div.card:hover {
  box-shadow: 0px 0px 15px 5px #ff0000;
}

img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
  border-radius: 0.5rem;
}

h2::first-letter {
  text-transform: uppercase;
}
